footer{
	padding: 10px 10px 0 10px;
	background-color: #92e5ec;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.reserva-icon{
	padding-right: 10px;
}

.btn-send{
	padding-right: 10px;
}

.breadcrumb{
	margin-top: 30px;
}

.tab-content{
	padding-top: 20px;
}
