footer {
  padding: 10px 10px 0 10px;
  background-color: #81BEF7;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.reserva-icon {
  padding-right: 10px; }

.btn-send {
  padding-right: 10px; }

.breadcrumb {
  margin-top: 30px; }

.tab-content {
  padding-top: 20px; }
