$yellow: #81BEF7;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(50px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.reserva-icon{
	padding-right: 10px;
}

.btn-send{
	padding-right: 10px;
}

.breadcrumb{
	margin-top: 30px;
}

.tab-content{
	padding-top: 20px;
}
